#title {
	font-size: 15px;
	color: red;
	display: block;

}

#nazvanie {
	color: green;
	display: block;

}

#rating {
	color: #159ff6;
		display: block;

}

#kach {
	color: #b283f4;
		display: block;

}

#poster
{
	transition: opacity 1s;
	opacity: 0.3;
	width:200px;
}
